<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>Account Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p th:text="${session.firstname} + '\'s Account Details'" /><br>

    <p th:text="'Current account...'" /><br>
    <p th:text="'Account number:' + ${session.currnumber}" /><br>
    <p th:text="'Balance:' + ${session.balance}" /><br><br>

    <form action="/depositcurr" method="post">
        <label for="depositcurr">Deposit Amount:</label>
        <input type="number" id="depositcurr" name="depositcurr" step="0.01" required>
        <button type="submit">Deposit</button>
    </form>

    <form action="/withdrawcurr" method="post">
        <label for="withdrawcurr">Withdraw Amount:</label>
        <input type="number" id="withdrawcurr" name="withdrawcurr" step="0.01" required>
        <button type="submit">Withdraw</button>
    </form>

    <br>

    <p th:text="'Savings account...'" /><br>
    <p th:text="'Account number:' + ${session.savnumber}" /><br>
    <p th:text="'Balance:' + ${session.savbalance}" /><br>

    <form action="/depositsav" method="post">
        <label for="depositsav">Deposit Amount:</label>
        <input type="number" id="depositsav" name="depositsav" step="0.01" required>
        <button type="submit">Deposit</button>
    </form>

    <a href="/greeting">Greeting</a>
    <a href="/addaccount">Add account</a>

</body>

</html>
