 .header {
  padding: 60px;
  text-align: center;
  background: #D3D3D3;
  color: white;
  font-size: 30px;
  border: none;
  display: flex;
  position: fixed;
  justify-content: space-around;
  width: 100%;
  top: 0;
  right: 0;
}

.background{

  padding: 60px;
  background-color: #b6b6b6;
  font-size: 30px;
  border: none;

}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  gap: 150px;
  height: 100px;
}

.container button {
  padding: 12.5px 30px;
  width: 200px;
  border: 0;
  border-radius: 6.25px;
  color: #ffffff;
  background-color: #1F2937;
  font-weight: bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

.container button:hover {
  background-color: #6fc5ff;
  box-shadow: 0 0 20px #6fc5ff50;
  transform: scale(1.1);
}

.container button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}